[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

attrs = "*"
click = "*"
packaging = "*"
requests = "*"


[dev-packages]

"flake8" = "*"
invoke = "*"
pytest = "*"
pytest-pythonpath = "*"
pytest-mock = "*"
sphinx = "*"
restview = "*"
sphinx-autobuild = "*"
"m2r" = "*"
